camera_rotation_vs_stage_xy: 0.0
default_binsize: 1
default_exposure: 0.02

# Double-check that your dimensions match the ones from your detector.
dimensions: [512, 512]

dynamic_range: 11800
interface: serval

physical_pixelsize: 0.055
possible_binsizes: [1]

stretch_amplitude: 0.0
stretch_azimuth: 0.0

# This configuration can be tuned based on your needs.
# Please refer to the Serval manual.
# For Serval 3.3.x, it is in section 4.5.7 - Detector Config JSON structure.
detector_config:
  BiasVoltage: 100
  BiasEnabled: True
  TriggerMode: SOFTWARESTART_TIMERSTOP  # Currently only this mode is supported
  ExposureTime: 1.0
  TriggerPeriod: 1.002
  nTriggers: 1000000000
  # TriggerPeriod and ExposureTime are used to derive the dead/cooldown
  # time of the detector. Consult Serval user manual to determine
  # the optimal cooldown time for requested TriggerMode on your detector.
  # Remove the following lines if you are using CheeTah T3 variants (timepix3),
  # as they do not support these settings.
  GainMode: HGM # Only for Medipix3
  PixelDepth: 24 # Set to 12 for 12-bit (normal) mode - only Medipix3
  BothCounters: False # Set to True for 12-bit mode - only Medipix3

# Change this to the location of your actual factory settings
bpc_file_path: '/home/asi/Desktop/Factory_settings/SPM-HGM/config.bpc'
dacs_file_path: '/home/asi/Desktop/Factory_settings/SPM-HGM/config.dacs'
url: 'http://localhost:8080'
