*.bak
*.bpc
*.c
*.dacs
*.egg-info
*.log
*.pptx
*.prefs
*.pyc
*.pyd
*.txt
*.zip
.coverage
.db
.gitignore
.ipynb_checkpoints
.project
.pydevproject
/build
/dials
/dist
/EMCamera
/files
/images
/index_server
/parse_logs
/pytimepix
/RED_CCD_plugin
/utils
generate_old_style.bat
htmlcov
pytest.bat
readme.rst
TODO
