*.bak
*.bpc
*.c
*.dacs
*.egg-info
*.log
*.pptx
*.prefs
*.pyc
*.pyd
*.txt
*.zip
.db
.gitignore
.ipynb_checkpoints
.project
.pydevproject
/parse_logs
/RED_CCD_plugin
/scripts
/build
/dials
/dist
/EMCamera
/files
/images
/index_server
/pytimepix
/utils
TODO
generate_old_style.bat
