.gitignore
*.pyc
*.pyd
build
dist
*.egg-info
*.ipynb
.ipynb_checkpoints
*.c
.pydevproject
.project
instamatic.log
*.zip
*.txt
*.pptx
TODO
files
images
EMCamera
/scripts
*.bpc
*.dacs
*.bak
*.log
*.prefs
pytimepix
index_server
dials
.db
