include setup_win.bat
include requirements.txt
include readme.md
include .pre-commit-config.yaml
include AUTHORS
include LICENCE
include demos/*.ipynb
include demos/*.md
include demos/*.nav
include docs/*.md
include docs/*.png
include docs/*.py
include instamatic/camera/*.dll
include instamatic/camera/*.h
include instamatic/camera/timepix.lockfile
include instamatic/camera/tpx/*
include instamatic/config/alignments/*.yaml
include instamatic/config/calibration/*.yaml
include instamatic/config/camera/*.yaml
include instamatic/config/defaults.yaml
include instamatic/config/microscope/*.yaml
include instamatic/config/scripts/*.py
include instamatic/config/settings.yaml
include instamatic/neural_network/*.p
include scripts/*.py

recursive-include instamatic *.py
recursive-include instamatic *.md

prune demos/.ipynb_checkpoints
