include .pre-commit-config.yaml
include THANKS.md
include LICENCE
include notebooks/*.ipynb
include notebooks/nav.nav
include notebooks/readme.md
include docs/*.md
include docs/*.png
include docs/*.py
include requirements.txt
include scripts/*.py
include setup_win.bat
include tests/*.py
include tests/config/*.yaml
include tests/config/*/*.yaml
include src/instamatic/camera/*.dll
include src/instamatic/camera/*.h
include src/instamatic/camera/*.lockfile
include src/instamatic/camera/*.md
include src/instamatic/camera/tpx/*.bpc
include src/instamatic/camera/tpx/*.dacs
include src/instamatic/camera/tpx/*.txt
include src/instamatic/config/*.yaml
include src/instamatic/config/alignments/*.yaml
include src/instamatic/config/calibration/*.yaml
include src/instamatic/config/camera/*.yaml
include src/instamatic/config/microscope/*.yaml
include src/instamatic/config/scripts/*.md
include src/instamatic/neural_network/*.p
include src/instamatic/processing/PETS_input_keywords.csv
